*{
    background-color: rgb(205, 178, 230);
}
.main{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width:500px;
    height: 400px;
    margin-left: 35%;
    margin-top: 20%;
}
.btn{
    border-radius: 5px;
    background-color: blueviolet;
}
.first{
    background-color:blueviolet;
    color: white;
    border: none;
}