*{
    background-color: rgb(232, 212, 252);
}
.main{
    margin-top: 10%;
     
     
}
.mb-3{
    width: 200px;
    margin-left: 45%;
     
}
.form-label{
    color: blueviolet;
}
.btn{
    margin-left: 50%;
     

}
.heading{
    margin-bottom: 5%;
    margin-left: 46%;
    color: rgb(134, 24, 236);
     
     
}