<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/updatefile.css">
</head>
<body>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
     
    {% for message in messages %}
     {{ message }}
    {% endfor %}
    
  {% endif %}
{% endwith %}
     <form method="post" enctype="multipart/form-data" class="main">
        <input type="file" name="filedata"/> <br>
        <button class="btn">Upload</button>
     </form>
</body>
</html>